<header class="container mx-auto flex items-center max-w-screen-lg py-8 border-b-2 border-black bg-[#e0decc] text-black font-bold">
    <nav class="flex-1">
        <ul class="flex justify-start items-center gap-4">
            <li>Home</li>
            <li>Colection</li>
            <li>Service</li>
            <li>About Us</li>
        </ul>
    </nav>
    <h1 class="text-3xl">Heritage.</h1>
    <div class="btn-action flex justify-end items-center gap-4 flex-1 text-white">
        <button class="bg-[#27262d] px-4 py-2 rounded-lg">Sign In</button>
        <button class="bg-[#27262d] px-4 py-2 rounded-lg">
            Info perfil
        </button>
    </div>
</header>