---
import ProductContainer from "@/components/containers/ProductContainer.astro";
import Sidebar from "@/components/shared/Sidebar.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <SectionContainer class="section-container">
    <div class="wrapper">
      <Sidebar class="aside bg-[#27262d] rounded-3xl hidden md:block" />
      <!-- content cars -->
      <ProductContainer class="contenido grow" />
    </div>
  </SectionContainer>
</Layout>
<style>
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit min(16rem, 1fr));
    grid-template-rows: 1fr;
    gap: 0rem 0.625rem;
    grid-template-areas: "aside contenido";
  }
  .aside {
    grid-area: aside;
  }
  .contenido {
    grid-area: contenido;
  }

  /* Responsividad */
  @media (width < 768px) {
    .wrapper {
      grid-template-columns: 1fr;
      grid-template-areas:
        "aside"
        "contenido";
    }

    .aside {
      order: 1;
    }

    .contenido {
      order: 2;
    }
  }
</style>
