---
import Image from "../atoms/ImageBanner.astro";
interface Props {
  src: ImageMetadata;
  alt: string;
  height: number;
  width: number;
}
const { src, alt, height, width }: Props = Astro.props;
---

<section
  class="banner mt-4 bg-[#27262d] rounded-2xl"
  aria-label="Promotional Banner"
>
  <Image src={src} alt={alt} height={height} width={width} />
</section>
