---
import Button from "../atoms/Button.astro";
import InputSearch from "../atoms/InputSearch.astro";

interface Props {
  placeholderText: string;
}

const { placeholderText }: Props = Astro.props;
---

<section
  class="filter-search py-2 flex justify-between items-center"
  aria-label="Search and Sort"
>
  <div class="relative flex items-center">
    <InputSearch
      class="pr-4 pl-14 py-3 text-sm"
      placeholderText={placeholderText}
      ariaLabel="searh input"
    />
    <div class="absolute left-4 text-amber-100">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        width="24"
        height="24"
        stroke-width="2"
      >
        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
        <path d="M21 21l-6 -6"></path>
      </svg>
    </div>
  </div>
  <Button name="Sort By" />
</section>
